body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  --tw-text-opacity: 1;
  color: rgb(244 242 242 / var(--tw-text-opacity));
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  
  flex-direction: column;

}
header {
  background-color: #1E1E1E;
  border: 2px solid  #1E1E1E;
  width: 100%;
  padding-left: 5%;
  padding-top: 4vw;
}
.inicio{
  display: flex;
  align-items: flex-start;
  padding-left: 5%;

}
.logo{
  width: 15%;
  background-color: #1E1E1E;
}
.titulo{
  color: #1E1E1E;
}
.barra{
  padding-bottom: 5%;
}

.buscador{
  width: 20%;
  height: 30px;
  border-radius: 10px;
  border: white;
  border-style: ridge;
  background-color: #1E1E1E;
}
h1{
    display: flex;
}
h2{
    padding-left: 2%;
}
h3{
  text-align: center;
}

main{
  width: 100%;
  padding-left: 5%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  border: 2px solid rgb(18 18 18 / var(--tw-bg-opacity));

}
a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}


p{
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 15px;
  text-align: center; 
}

.form-section{
    background-color: #1E1E1E;
    border: 2px #1E1E1E solid;

    width: 70%;
    border-radius: 10px;
    padding-bottom: 3%;
}
.formu{
    width: 35%;
    margin: 2%;
    font-size: large;    
    border-radius: 10px;    
}
.btn-item{
    background-color: aliceblue;
    color: green;
}
.btn-item:hover{
    background-color: green;
    color: aliceblue;
    cursor: pointer;
}

footer{
  background-color: #1E1E1E;
  border: 2px solid  #1E1E1E;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 7%;
  margin: 0;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hr-footer{
  width: 100%;
  margin: 2%;
}
.filas-2{
  display: flex;
  justify-content: space-evenly;
}
.redees{
  display: flex;
  padding-left: 5%;
  gap: 20px;
}
.error{
  padding-left: 2%;

}

.redes{
  width: 10%;
  display: flex;
}
.terminos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

