body {
  width: 100%;
  height: 100vw;
  padding: 0;
  margin: 0;
  --tw-text-opacity: 1;
  color: rgb(244 242 242 / var(--tw-text-opacity));
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  
  flex-direction: column;

}
header {
  background-color: #1E1E1E;
  border: 2px solid  #1E1E1E;
  width: 100%;
  padding-left: 5%;
  padding-top: 4vw;  
  
}
.inicio{
  display: flex;
  align-items: flex-start;
  padding-left: 5%;

}
.logo{
  width: 15%;
  background-color: #1E1E1E;
}
.titulo{
  color: #1E1E1E;
}
.barra{
  padding-bottom: 5%;
}

.buscador{
  width: 20%;
  height: 30px;
  border-radius: 10px;
  border: white;
  border-style: ridge;
  background-color: #1E1E1E;
}
h1{
  display: flex;
}
h3{
  text-align: center;
}

main{
  width: 100%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 10vw;
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  border: 2px solid rgb(18 18 18 / var(--tw-bg-opacity));


}
.categorias{
    border: 2px solid ;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    --tw-text-opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center ;

}
.filas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  
}
.caja{
  width: 25%;
  background-color: #1E1E1E;
  margin: 2%;
  border-radius: 25px;
  border-style: outset;
  border-color: #1E1E1E;
  display: flex;
  color: #1E1E1E;
}

.caja:hover{
  width: 25%;
  background-color: grey;
  margin: 2%;
  border-radius: 25px;
  border-style: outset;
  border-color: grey;
  display: flex;
  cursor: pointer;
}

p{
  color: #c3c3c3   ;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 15px;
  text-align: center; 
}

a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}
.armas{
  width: 45%;
}

hr{
  width: 90%;
  margin: 2%;
}
footer{
  background-color: #1E1E1E;
  border: 2px solid  #1E1E1E;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 5%;
  margin: 0;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hr-footer{
  width: 100%;
  margin: 2%;
}
.filas-2{
  display: flex;
  justify-content: space-evenly;
}
.redees{
  display: flex;
  padding-left: 5%;
  gap: 20px;
}

.redes{
  width: 10%;
  display: flex;
}
.terminos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

